:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  background-color: #292d32;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: #fff;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
  color: #fff;
}

.help-text {
  color: #0F75BD;
}

/* UTILITIES */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 50rem;
  text-align: center;
  /* border: 0.1rem solid #0F75BD; */
  /* border: 0.1rem solid #fff; */
  box-shadow: -4px -4px 5px #3e4247, 7px 7px 7px #1d1f23 !important;
  margin-bottom: 1rem;
  margin-top: 5rem;
  text-decoration: none;
  /* color: #0F75BD; */
  background-color: #292d32;
  color: #fff;
  /* background-color: #0F75BD; */
  border-radius: 30px;
  border: 0;
}

.btn:hover {
  cursor: pointer;
  /* box-shadow: 0 0.4rem 1.4rem 0 rgba(355, 99, 90, 0.5); */
  /* box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.5); */
  box-shadow: -4px -4px 5px #3e4247, 7px 7px 7px #1d1f23 !important;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.btn:active:hover {
  box-shadow: inset -4px -4px 5px #3e4247,inset 7px 7px 7px #1d1f23 !important;
  border: 0;
}

select:focus {
  box-shadow: inset -4px -4px 5px #3e4247,inset 7px 7px 7px #1d1f23 !important;
  border: 0;
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 50rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  /* box-shadow: 0 0.1rem 1.4rem 0 rgba(355, 99, 90, 0.5); */
  /* box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.5); */
  box-shadow: -4px -4px 5px #3e4247, 7px 7px 7px #1d1f23 !important;
  background-color: #292d32;
  border-radius: 30px;
}

input::placeholder {
  color: #fff;
}

option {
  background-color: #292d32;
  border: none;
}

select {
  margin-bottom: 1rem;
  width: 50rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  /* box-shadow: 0 0.1rem 1.4rem 0 rgba(355, 99, 90, 0.5); */
  /* box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.5); */
  box-shadow: -4px -4px 5px #3e4247, 7px 7px 7px #1d1f23 !important;
  background: transparent;
  /* padding: 100px; */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

label {
  font-size: 2.2rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

/* GAME/QUESTION */

.choice-container {
  display: flex;
  margin-bottom: 2.5rem;
  width: 100%;
  font-size: 1.8rem;
  /* border: 0.1rem solid rgb(86, 165, 235, 0.25); */
  background-color: #292d32;
  box-shadow: -4px -4px 5px #3e4247, 7px 7px 7px #1d1f23 !important;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}

.choice-container:hover {
  cursor: pointer;
  /* box-shadow: 0 0.4rem 1.4rem 0 rgba(355, 99, 90, 0.5); */
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.5);
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #292d32;
  color: #0F75BD;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.correct, .correct * {
  background-color: #28a745 !important;
}

.correct > p:nth-of-type(1) {
  color: black;
}

.incorrect {
  background-color: #dc3545 !important;
}

.incorrect > p:nth-of-type(1) {
  color: black;
}

.team1Answer {
  background-color: #FBCD59;
}

.team1Answer > p:nth-of-type(1) {
  background-color: #FBCD59;
  color: #292d32
}

.team1Answer > p:nth-of-type(2) {
  color: #292d32
}

.team2Answer {
  background-color: #0F75BD;
  color: white;
}

.team2Answer > p:nth-of-type(1) {
  background-color: #0F75BD;
  color: white;
}

.team2Answer > p:nth-of-type(2) {
  color: white;
}

.team2Answer.team1Answer {
  background-color: #9C87D1;
  color: #292d32
}

.team2Answer.team1Answer > p:nth-of-type(1) {
  background-color: #9C87D1;
  color: #292d32
}

.team2Answer.team1Answer > p:nth-of-type(2) {
  background-color: #9C87D1;
  color: #292d32
}

.yellowTeam, .yellowTeam * {
  color: #FBCD59;
}

.blueTeam, .blueTeam * {
  color: #0F75BD;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #0F75BD;
  margin-top: 1.5rem;
  border-radius: 30px;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #0F75BD;
  width: 0%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #0F75BD;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HIGH SCORES */

#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}
